DATABASE_URL="postgresql://postgres:postgres@localhost:5432/menuqr_pro?schema=public"
SUPER_ADMIN_EMAIL="admin@example.com"
SUPER_ADMIN_PASSWORD="super-secret-pass"
JWT_SECRET="menuqr-pro-super-secret-key-12345"

# Configuración de Conexión a la API Central (ubicame-api)
VITE_API_URL="https://api.ubicame.cc"
NEXT_PUBLIC_API_URL="https://api.ubicame.cc"
USE_CENTRAL_API="true"